/* Defaults for page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body */
body {
  background-color: #00204a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

/* Header */
.h1 {
  color: #fdb44b;
  font-size: 60px;
}

/* Container */
.container {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  /* Style */
  height: 500px;
  width: 500px;
  background-color: #111;
  border: solid 5px #fdb44b;
}

/* Button  */
.btn {
  font-size: 24px;
  background-color: #e7eaf6;
  color: #00204a;
}

::-moz-range-thumb ;
